/* misma tipografia para todo lo que este dentro del body*/
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: linear-gradient(180deg, #fff9e6, #e6ffe6);
    margin: 0;
    padding: 0;
    color: #333;
}


/* colores y todo eso para el titulo*/
h1 {
    text-align: center;
    color: #d4a017; 
    background: #fff5cc;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: inset 0 2px 6px rgba(200, 180, 100, 0.4);
}


/* colores y estilos para los subtitulos */
h2 {
    color: #2d6a4f; 
    border-left: 6px solid #95d5b2;
    padding-left: 10px;
    margin-top: 1.5rem;
    background: #f0fff0;
    border-radius: 8px;
    padding: 0.5rem;
}


strong {
    color: #ffb703; 
}

code {
    background: #e8f5e9;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: monospace;
    color: #1b4332;
}

p {
    max-width: 600px;   
    margin: 1rem auto;  
    line-height: 1.8;  
    background: #fffff7;
    padding: 1rem;
    border-radius: 10px;
    text-align: justify; 
    box-shadow: 0 1px 4px rgba(150, 150, 100, 0.1);
}

h2{
    max-width: 600px;   
    margin: 1rem auto;  
    line-height: 1.8;   
    background: #fffff7;
    padding: 1rem;
    border-radius: 10px;
    text-align: justify; 
    box-shadow: 0 1px 4px rgba(150, 150, 100, 0.1);
}
